body {
    background-color: #EEF9BF;
}
.cabecalho{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 66px;
    color: #75B79E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 47px;
}
.conteudo{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.carta{
    width: 117px;
    height: 146px;
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.face{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-radius: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.verso{
    transform: rotateY(180deg);
}
.verso-ativa{
    transform: rotateY(0deg);
}
.frente-ativa{
    transform: rotateY(-180deg);
}
.img-verso{
    height: 100px;
}
@media (max-width: 615px) {
    .cabecalho{
        font-size: 36px;
        margin-bottom: 10px;
        line-height: 42px;
    }
    .conteudo{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: none;
        justify-content: center;
        align-items: center;
    }
}
